@model IEnumerable<uppfinnaren_1_0_seb_kvist.Models.Alster>

@{
    ViewData["Title"] = "Våra alster";
}
<div class="alsterContainer">
    <h1>@ViewData["Title"]</h1>
    <div class="alsterContainerIntro">
        <h3>Detta är våra fina alster alla gjorda av vår fantastiska uppfinnare och träslöjdslärare, Toshi.</h3>
        <p>Om du vill läsa mer om en produkt kan du trycka på knappen "Mer info" så kommer du få mer detaljerad information om alstret.</p>
    </div>
</p>
    <div class="alsterGalleri">
        @if (Model != null && Model.Any())
        {
            @foreach (var alster in Model)
            {
                <div class="alsterCard">
                    <img src="@alster.BildUrl" alt="@alster.Namn" class="alsterImage"/>
                    <div class="alsterCardContent">
                        <h3 class="alsterNamn">@alster.Namn</h3>
                        <p class="alsterBeskrivning">@alster.Beskrivning</p>
                        <a href="@Url.Action("Detaljer", "Alster", new { id = alster.AlsterId })" class="alsterBtn">Mer info</a>
                    </div>
                </div>
            }
        }
        else
        {
            <p>Inga alster att visa.</p>
        }
    </div>
</div>

